<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .del{
            text-decoration: line-through;
            color:#ccc !important;
        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid ">
            <div class="navbar-header ">
                <a class="navbar-brand " href="#">
                    ToDoList
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-warning">
                    <div class="panel-heading ">
                        <h3 class="text-danger text-center">有count件事情待完成</h3>
                        <hr>
                        <input type="text"  class="form-control" v-model='content' @keyup.enter="add">
                        <button class="btn-warning pull-right btn-xs" @click="add">添加新任务</button>
                        <ul class="nav nav-pills">
                            <li role="presentation"><a href="#" >全部任务</a></li>
                            <li role="presentation"><a href="#" >未完成</a></li>
                            <li role="presentation"><a href="#" >已完成</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class='list-group-item' v-for="(todo ,index) in todos"
                                @dblclick="change(todo)"
                            >
                                <span v-show='cur!==todo'>
                                    <input type="checkbox" v-model="todo.isSelected">{{todo.title}}

                                </span>
                                <input type="text"
                                       v-show="cur==todo" v-model="todo.title" v-focus="cur==todo"
                                    @blur="remember" @keyup.enter="remember"
                                >
                                <button
                                        class="btn btn-danger pull-right btn-xs"
                                        @click="remove(todo)"
                                >
                                    删除
                                </button>
                                <button
                                        class="btn btn-info pull-right btn-xs"
                                        @click="remove(detail)"
                                >
                                    详情
                                </button>
                                <button
                                        class="btn btn-warning pull-right btn-xs"
                                        @click="change(todo)"
                                >
                                    编辑
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/axios/dist/axios.js"></script>

<script src="./main.js"></script>
</body>
</html>